@import "_variables.scss";
@import "_mixins.scss";
@import "_resets.scss";

.hero{
	background: url("../../images/slider1.jpg")center;
	height:50vh;
	background-size: cover;
	color: white;
}
footer{
	background-color: $dark-gray;
	padding: 1%;
	p{
		color: white;
		span{
			color: $dark-pink;
		}
	}
}