mixin client(client)
	case client
		when "client1"
			img(src="assets/images/client1.jpg")
		when "client2"
			img(src="assets/images/client2.jpg")
		when "client3"
			img(src="assets/images/client3.jpg")
		when "client4"
			img(src="assets/images/client4.jpg")
		when "client5"
			img(src="assets/images/client5.jpg")
		when "client6"
			img(src="assets/images/client6.jpg")